multimedia/
imagenes/atlas-8/capturas-originales
genera.sh
.gitignore
madoko*
*.sty
*.aux
*~
Decisiones.*
cp1/*.*
cp2/*.*
Presentacion-*.*
imagenes/miquel.png
imagenes/joan.png
imagenes/juan.png
imagenes-grupos/Redes-eficacia.jpg
imagenes-grupos/Redes-liderazgo.jpg
liderazgo.md
liderazgo.html
Atlas.ti-JL.html
Atlas.ti-JL.md
