multimedia/
imagenes-svg/
imagenes/atlas-8/capturas-originales
genera.sh
.gitignore
madoko*
*.sty
*.aux
*.mp3
*.mp4
*.avi
*~
cp1/*.*
cp2/*.*
Presentacion-*.*
imagenes/miquel.png
imagenes/joan.png
imagenes/juan.png
imagenes-grupos/Redes-eficacia.jpg
imagenes-grupos/Redes-liderazgo.jpg
