@import url(../../lib/font/quicksand/quicksand.css);

@import url(http://fonts.googleapis.com/css?family=Quicksand);
/* @import url(http://fonts.googleapis.com/css?family=Open+Sans); */
@import url(http://fonts.googleapis.com/css?family=Raleway);

@font-face {
  font-family: 'bullets';
  src: url("../../lib/font/typicons/font/icon-font.eot");
  src: url("../../lib/font/typicons/font/icon-font.eot#iefix") format('embedded-opentype'), url("../../lib/font/typicons/font/icon-font.woff") format('woff'), url("../../lib/font/typicons/font/icon-font.ttf") format('truetype'), url("../../lib/font/typicons/font/icon-font.svg#bullets") format('svg');
  font-weight: normal;
  font-style: normal;
}

/*********************************************
 * GLOBAL STYLES
 *********************************************/
body {
  background: white;
  background-color: white; }

.reveal {
  /* font-family: 'Open Sans', sans-serif; */
  font-family: 'Raleway', sans-serif;

  font-size: 34px;
  font-weight: normal;
  color: #000;}

.reveal .slides > section, .reveal .slides > section > section {
  text-align: center;}

.reveal .slides {
  margin-top: 2px;}

.reveal a {color:#3b759e;}

/*********************************************
 * HEADERS
 *********************************************/
.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 {
  padding: 5px 10px 5px 10px;
  font-family: 'Quicksandregular', sans-serif, serif;
  text-align: left;}

.reveal h1 , .reveal h2 {
 font-size: 1.4em;
 background: black;
 color: white;
 /*background: whitesmoke;
 background: ivory;
 background: mintcream;*/
 background-clip: padding-box;}

.reveal h4 {
 font-size: 1.2em;
 text-align: center;}

 .reveal h6, .reveal code.figcaption {text-align: center}
 .reveal em {
   font-style: italic; }

.reveal .title{
 font-size: 2.5em;
 text-align: center;
 background: none;
 color: black;}

 h2:empty {
 background: none;}

/*********************************************
 * OTHER
 *********************************************/

.reveal figcaption, .reveal h6,   .reveal code.figcaption {
   color: #686868;
   font-size: .7em;
 }

.reveal .slides > section, .reveal .slides > section > section {}

.reveal .referencias ul, .reveal .referencias li {
     text-align: left;
     line-height: 1.4em;
    }

 /* Citas */


 .reveal q, .reveal blockquote {
   quotes: none; }

 .reveal blockquote{
   display:block;
   width: 90%;
   font-style: normal;
   background-color: rgba(255,255,255, 0.8);
   padding: 15px 15px 15px 85px;
   margin: 0px 0 20px;
   position: relative;
   /*Font*/
   /*font-family: Georgia, serif; */
   font-size: 1em;
   line-height: 1.5;
   color: rgb(0,0,0);
   text-align: justify;

   /*Borders - (Optional)*/
   /*border-left: 15px solid blue; /*#c76c0c; */
   /*border-right: 2px solid blue; /*#c76c0c; */
   /* border-radius: 15px; */

   /*Box Shadow - (Optional)*/
  /* -moz-box-shadow: 2px 2px 15px #ccc;
   -webkit-box-shadow: 2px 2px 15px #ccc;
   box-shadow: 2px 2px 15px #ccc;*/
   box-shadow: 0px 0px 0px #ccc;
 }

 .reveal blockquote::before{
   /*
   content: "\201C"; /*Unicode for Left Double Quote */
   /*font-family: Georgia, serif;*/

   font-family: FontAwesome;
   display: inline-block;
   content: "\f10d";
   font-size: 250%;
   color: red;
   /*Positioning*/
   position: absolute;
   left: 0px;
   top:-10px;
 }

 .reveal blockquote::after{
   /*Reset to make sure*/
   content: "";
 }

 .reveal blockquote a{
   text-decoration: none;
   background: #eee;
   cursor: pointer;
   padding: 0 3px;
   color: #c76c0c;
 }

 .reveal blockquote a:hover{
  color: #666;
 }

 .reveal blockquote em{
   font-style: normal;
 }

 ////////* fin citas *///////////


.reveal pre {
font-size: 0.85em;}


.reveal code {
 /* font-family: monospace; } JMJ*/
 font-size: 0.75em;
 text-align: left;}

.reveal pre code {
 overflow: hid;
 background: #e5e3e3;
 font-family: monospace;}

.reveal .autor, .reveal blockquote .citation{
/* font-family: monospace; } */
 font-size: 0.7em;
 color: red;
 border-top: solid;
 padding-bottom: 5px;
 border-color: gray;
 border-width: 1px;}

.reveal .references {
  display:block;
 }
.reveal .references p {
  font-size: 0.75em;
  text-align: left;
 }

////////* TABLAS */////////////
.reveal table thead tr th{
background-color: #B9C9FE;
color:#039;}

.reveal table td {
  vertical-align: top;
  font-size: .8em;}

.reveal tr:nth-child(even) {
  background: #E8EDFF;
  color: #669;
}

.reveal tr:nth-child(odd) {
  background: #E8EDFF;
  color: #669;
}

.reveal tr {
border-bottom: solid 2px white;
}
/*
.reveal table tr:last-child td {
border-bottom: none; }
*/

.reveal tr:hover{
background-color:  #d0dafd;
}

.reveal thead{
  font-size: 0.9em;}

.reveal table img{
  margin: 0px;
  border: 0px solid black;
  -webkit-box-shadow: none;
  box-shadow: none; }

.reveal table caption{
  font-size: 0.8em;
  }

////////* FIN TABLAS */////////////


/*********************************************
* LINKS
*********************************************/
.reveal a:not(.image) {
 color: #3b759e;
 text-decoration: none;
 -webkit-transition: color .15s ease;
 -moz-transition: color .15s ease;
 -ms-transition: color .15s ease;
 -o-transition: color .15s ease;
 transition: color .15s ease;
}

.reveal a:not(.image):hover {
 color: #74a7cb;
 text-shadow: none;
 border: none;
}

.reveal .roll span:after {
 color: #fff;
 background: #264c66;
}

///////*  FIN LINKS *///////////////


/*********************************************
 * IMAGES
******************************************** */

.reveal  {
  /* margin: 15px; */
  /* border: .1em solid #fff; */
  /* -webkit-box-shadow: 0px 0px 40px -2px rgba(0,0,0,0.75); */
  /* -moz-box-shadow: 0px 0px 40px -2px rgba(0,0,0,0.75); */
  /* box-shadow: 0px 0px 40px -2px rgba(0,0,0,0.75); */
}

.reveal section img, .reveal object#svg1{
  border: .1em solid #fff;
  margin: 15px;
  padding: 10px;
  -moz-box-shadow: 2px 2px 15px #ccc;
  -webkit-box-shadow: 2px 2px 15px #ccc;
  box-shadow: 2px 2px 15px #ccc;
 }

.reveal .nopadding{
  box-shadow: none;
  padding: 0px;
  border: 0px;
  margin: 0px;
}

.reveal .border{
  border: .05em solid black;
  box-shadow: none;
}

.reveal .border-strong{
  border: .2em solid black;
  box-shadow: none;
  padding: 0px;
  margin: 0px;
}

.reveal .noshadow {
  box-shadow: none;
  border: 1px;
  margin: 0px;
  padding: 5px;
}

.reveal .noborder {
  border: 0px;
  margin: 0px;
  padding: 0px;
}

html.laback .reveal section img {
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}


/******* FIN  IMAGES ********/


#toc-progress-footer {text-color: red;}

.reveal .resaltar {
  font-weight: 1000;
  color: red;
  }

.fosforito {background-color: #FFFF00}

.fondo .reveal figcaption{
display: block; /*-webkit-inline-box; */
background-color: black;
opacity: 0.8;
color: white;
font-weight: bold;
padding: 10px;}

.fondo {
background-color: rgba(0, 0, 0, 0.8);
opacity: 0.8;
filter: alpha(opacity=80); /* For IE8 and earlier */
}

.slides .fondo ul{
background-color:white;
margin: 0;
padding:0;
opacity: 0.8;
}

.reveal .level1 h1{
font-size: 2em;
text-align: center;
border-bottom: 0;
/**background-color: rgba(165,165,255,0.3);**/}


.reveal pre.left code{
background-color: white;
color: black;
font-size: 1em;
line-height: 1.5em;
}

/** Mostrar ribbon fork sólo en primera transparencia, si esta tiene data-state="show-github-ribbon" **/
.ribbon { display: none; }
.show-github-ribbon .ribbon { display: block; }

/** Poder hacer scroll vertical en algunas diapos **/
.scrollable {
  overflow-y: auto  !important;
  overflow-x: hidden !important;
  height: 700px;
}

/**Background image opacity **/
.opacidad .reveal .backgrounds{
filter:alpha(opacity=5);
opacity:0.3;}

.reveal .transparencia {
  opacity: 0.8;
}

html.transparencia .slide-background {
	opacity: 0.6 !important;
}


section .peque, .reveal .peque {
  font-size: 0.7em;
  line-height: 1.7em;
  text-align: left;}

section .medio, .reveal .medio{
  font-size: 0.9em;}

.reveal .fondoblanco, .reveal ul li  {
background-color: white;
}

.reveal .fondonegro{
background-color: black;
color: white;
padding: 15px;
}

.reveal .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.reveal footer .footer {
  position: absolute;
  bottom: 0px;
  margin-left: 0px;
  width: 100%;
  background-color:#fff;
    filter:alpha(opacity=5);
    opacity:0.5;
  border-color:red;}


/*********************************************
 * Listas desordenadas con iconos
 *********************************************/


.reveal ul, .reveal li li  {
  list-style: none;
  padding: 0;
}
.reveal li {
  padding-left: 1.3em;
}
.reveal li:before {
  font-family: FontAwesome;
  content: "\f0c8"; /* FontAwesome Unicode */
  display: inline-block;
  margin-left: -1.3em; /* same as padding-left set on li */
  width: 1.3em; /* same as padding-left set on li */
  color: #3b759e;
  margin-top: 0.8em;
  font-size: 0.7em;
}

.reveal li::before{
  content: "\f0c8"; /* FontAwesome Unicode */
}

.reveal li li::before{
  content: "\f0c9"; /* FontAwesome Unicode */
}


/*********************************************
 * Listas definiciones con iconos
 *********************************************/
.reveal dt, .reveal dd {
  list-style: none;
  padding: 0;}

.reveal dd, .reveal dt {
  padding-left: 1.3em;
}

.reveal dt:before{
  font-family: FontAwesome;
  content: "\f146";
  display: inline-block;
  margin-left: -1.3em; /* same as padding-left set on li */
  width: 1.3em; /* same as padding-left set on li */
  color: #3b759e;
  margin-top: 0.8em;
  font-size: 0.7em;
  }

.reveal dd:before{
  font-family: FontAwesome;
  content: "\f0c9";
  display: inline-block;
  margin-left: -1.3em; /* same as padding-left set on li */
  width: 1.3em; /* same as padding-left set on li */
  color: #3b759e;
  margin-top: 0.8em;
  font-size: 0.7em;
  }
